@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
// font-family: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// font-family: 'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
//font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
// font-family: 'Inter', sans-serif;



// @font-face{
//     font-family: '';
//     src: url();  
// }
@font-face{
    font-family: 'bodoni';
    src: url(../../font-family/bodoni.ttf);  
}
@font-face{
    font-family: 'bodoni-bold';
    src: url(../../font-family/Bodoni\Bold.ttf);  
}
@font-face {
    font-family:'Saol-Display';
    src: url(../../font-family/SaolDisplay-Regular/SaolDisplay-Regular.ttf);
}
